.page-wrap{
    display: flex;
    height: 100vh;

    .side-nav{
        width: rem(176);
        height: 100vh;
        background: $secondary-color1;
    }

    .right-nav{
        padding: rem(16) 0 0;
        h4{
            padding: 0 rem(12);
            margin-bottom: rem(16);
            color: $secondary-color3;
            text-transform: capitalize;
        }
    }

    .sml-block{
        width: rem(176);

        &.utility-cntrls{
            padding-right: rem(12);
        }

        &.song-thumbnail{
            padding-left: rem(12);
        }
    }

    .lrg-block{
        width: calc(100% - rem(352));
    }


}